*{
  /* font-family: 'Lato', sans-serif;
   */
  font-family: 'Poppins', sans-serif;
  color:whitesmoke;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: width .2s ease-out;
}

:root{
  --fire-border: 0.2em solid #fda430;
  --fire-bg: #f17a2b;
  --fire-bg-open:#f3a238;
  --grass-border:0.2em solid #49e783;
  --grass-bg:#2eda6d;
  --grass-bg-open:#1ab453;
  --water-border: 0.2em solid #82daf5;
  --water-bg:#30B3DB;
  --water-bg-open:#56ccf0;
  --electric-border: 0.2em solid #ebda48;
  --electric-bg:#f1cb20;
  --electric-bg-open:#FFE100;
  --ground-border: 0.2em solid #d4be18;
  --ground-bg:#AD8B01;
  --ground-bg-open:#e2c806;
  --rock-border:0.2em solid #af8d06;
  --rock-bg:#C6AF00;
  --rock-bg-open:#8d7309;
  --ice-border: 0.2em solid	#cee7ff;
  --ice-bg:#a4c5fa;
  --ice-bg-open:#87bff3;
  --normal-border:0.2em solid #a3a3a3;
  --normal-bg:#898565;
  --normal-bg-open:#a3a3a3;
  --flying-border:0.2em solid #C8ADFF;
  --flying--bg:#7D50D8;
  --flying--bg-open:#a47fee;
  --poision-border: 0.2em solid #782B9B;
  --poison-bg:#5D0A84;
  --poison-bg-open:#710ca0;
  --bug-border:0.2em solid #c7e67e;
  --bug-bg:#94B548;
  --bug-bg-open:#aed652;
  --fairy-border: 0.2em solid #fba4de;
  --fairy-bg:#EA72C2;
  --fairy-bg-open:#ee66c0;
  --fighting-border:0.2em solid #ec5635;
  --fighting-bg:#D12600;
  --fighting-bg-open:#b31608;
  --phsychic-border:0.2em solid #ff7db3;
  --psychic-bg:#ED3884;
  --psychic-bg-open:#ff3c8d;
  --steel-border:0.2em solid #a3a3a3;
  --steel-bg:#CCCCCC;
  --steel-bg-open:#a3a3a3;
  --dragon-border:0.2em solid #8656ff; 
  --dragon-bg:#6426ff;
  --dragon-bg-open:rgb(132, 68, 250);
  --ghost-border: 0.2em solid #732088;
  --ghost-bg:#4B085B;
  --ghost-bg-open:#9909bd;
  --dark-border:.2em solid #5f5f5f;
  --dark-bg:#393a3a;
  --dark-bg-open:#202020;
}

html, 
body {
    height: 100%;
    overflow-x: hidden
}

.main{
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.search{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70px;
  background: #3c60a3;
}

.search-input{
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0.5em 1em;
  width: 80%;
  color: black !important
}

.search-icon{
  position: absolute;
  top: 1.7em;
  right: 4em;
}


.top{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: red;
  position: fixed;
}


.pkmn-list{
  display: grid;
  width: 100vw;
  margin-top: 4em;
  margin-right: auto;
  margin-left: auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  padding: 1em 0;
}

.pkmn-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
  height: 23vh;
  width: 40vw;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  border-radius: 2.5em;
  transition: all .2s ease-out;
}


img{
  transition: all .3s
}

.pkmn-card:hover img{
  animation: move linear .4s
}

.pkmn-card:hover{
  box-shadow: -1px 1px 5px black
}

.modal{
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* margin-right: auto; */
  /* margin-left: auto; */
  transform: translateX(-200vh);
  position: absolute;
  background: rgb(16, 112, 104);
  transition: transform .5s;
  z-index: 10;
}


.pkmn-name{
  text-align: center;
  text-transform: uppercase;
  background: #030e084d;
  color: whitesmoke;
  width: 100%;
  padding: 0.5em;
  border-radius: 3em 3em 0em 0em;
  font-size: .9em;
  pointer-events: none;
}

  .electric{
    background: var(--electric-bg);
    border: var(--electric-border)
  }
  .electric p, .electric span, .electric .empty{
    color: rgb(26, 26, 26)
  }


  .normal{
    background: var(--normal-bg);
    border: var(--normal-border);
  }

  .ground{
    background: var(--ground-bg);
    border:var(--ground-border);
  }

  .flying{
    background: var(--flying--bg);
    border: var(--flying-border);
  }

  .poison{
    background: var(--poison-bg);
    border: var(--poision-border);
  }

  .fairy{
    background: var(--fairy-bg);
    border:var(--fairy-border);
  }

  .fighting{
    background:var(--fighting-bg);
    border: var(--fighting-border);
  }

  .psychic{
    background: var(--psychic-bg);
    border:var(--phsychic-border);
  }

  .ghost{
    background: var(--ghost-bg);
    border: var(--ghost-border)
  }

  .dragon{
    background: var(--dragon-bg);
    border: var(--dragon-border);
  }

  .fire{
    background: var(--fire-bg);
    border: var(--fire-border);
  }
  
  .bug{
    background: var(--bug-bg);
    border: var(--bug-border);
  }

  .ice{
    background: var(--ice-bg);
    border:var(--ice-border);
    color: white;
  }
  
  .dark{
    background: var(--dark-bg);
    border: var(--dark-border);
  }

  .grass{
    background: var(--grass-bg);
    border: var(--grass-border);
  }

  .water{
    background: var(--water-bg);
    border: var(--water-border);
    color: rgb(245, 245, 245);
  }

  .rock{
    background:var(--rock-bg);
    border: var(--rock-border);
  }

  .steel{
    background: var(--steel-bg);
    border:var(--steel-border);
    color: rgb(61, 61, 61)
  }

  .steel span, .steel .empty{
    color: black
  }


  /*Las mini-cards para cada tipo  */


  .electric-cardy{
    background: var(--electric-bg-open);
  }
  .electric-damage{
    border: 10px solid var(--electric-bg-open)
  }


  .normal-cardy{
    background: var(--normal-bg-open);
  }
  .normal-damage{
    border: 10px solid var(--normal-bg-open)
  }

  .ground-cardy{
    background: var(--ground-bg-open);
  }
  .ground-damage{
    border: 10px solid var(--ground-bg-open)
  }

  .flying-cardy{
    background: var(--flying--bg-open);

  }
  .flying-damage{
    border: 10px solid var(--flying-bg-open)
  }

  .poison-cardy{
    background: var(--poison-bg-open);
  }
  .poison-damage{
    border: 10px solid var(--poison-bg-open)
  }

  .fairy-cardy{
    background: var(--fairy-bg-open);
  }
  .fairy-damage{
    border: 10px solid var(--fairy-bg-open)
  }

  .fighting-cardy{
    background:var(--fighting-bg-open);
  }
  .fighting-damage{
    border: 10px solid var(--fighting-bg-open)
  }

  .psychic-cardy{
    background: var(--psychic-bg-open);
  }
  .psychic-damage{
    border: 10px solid var(--psychic-bg-open)
  }

  .ghost-cardy{
    background: var(--ghost-bg-open);
  }
  .ghost-damage{
    border: 10px solid var(--ghost-bg-open)
  }

  .dragon-cardy{
    background: var(--dragon-bg-open);
  }
  .dragon-damage{
    border: 10px solid var(--dragon-bg-open)
  }

  .fire-cardy{
    background: var(--fire-bg-open);
  }
  .fire-damage{
    border: 10px solid var(--fire-bg-open)
  }
  
  .bug-cardy{
    background: var(--bug-bg-open);
  }
  .bug-damage{
    border: 10px solid var(--bug-bg-open)
  }

  .ice-cardy{
    background: var(--ice-bg-open);
    color: white;
  }
  .ice-damage{
    border: 10px solid var(--ice-bg-open)
  }
  
  .dark-cardy{
    background: var(--dark-bg-open);
  }
  .dark-damage{
    border: 10px solid var(--dark-bg-open)
  }

  .grass-cardy{
    background: var(--grass-bg-open);
  }
  .grass-damage{
    border: 10px solid var(--grass-bg-open)
  }

  .water-cardy{
    background: var(--water-bg-open);
    color: rgb(245, 245, 245);
  }
  .water-damage{
    border: 10px solid var(--water-bg-open)
  }

  .rock-cardy{
    background:var(--rock-bg-open);
    color: whitesmoke !important
  }
  .rock-damage{
    border: 10px solid var(--rock-bg-open)
  }

  .steel-cardy{
    background: var(--steel-bg-open);
    color: whitesmoke !important
  }
  .steel-damage{
    border: 10px solid var(--steel-bg-open)
  }

  

  .electric-cardy,
  .ice
  {
    color: black;
  }


.stats-container{
  pointer-events: none;
}


/* ------------------------------------- -------------------*/
/* ------------------------------------- -------------------*/
/* ------------------------------------- -------------------*/
/* -----------When the card is full open -------------------*/
/* ------------------------------------- -------------------*/
/* ------------------------------------- -------------------*/
/* ------------------------------------- -------------------*/

.loader-div{
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #a82f2f;
  z-index: 1000;
  transition: .5s all
}


.loader{
  border: 16px solid #f1f1f1; /* Light grey */
  border-top: 16px solid #292626; /* Blue */
  border-radius: 100%;
  width: 100px;
  height: 100px;
  animation: spin .5s linear infinite;
  margin: auto;
  z-index: 1000;
}

.modal-loader-container{
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  position: absolute;
  border: none !important;
  pointer-events: none;
  transition: all .3s;
}

.modal-loader{
  border: 16px solid #f1f1f1; /* Light grey */
  border-top: 16px solid #2e2b2b; /* Blue */
  border-radius: 100%;
  width: 100px;
  height: 100px;
  animation: spin .5s linear infinite;
  margin: auto;
  z-index: 2000;
  transition: all .3s
}

.modal-open{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  transform: translateY(0vh) !important;
  overflow: auto;
  border: none !important;
  transition: transform .4s;
  /* transition: height .4s; */
  z-index: 10;
}


.name-open{
  padding: 1em;
  border-radius: 0;
}

.pkmn-specs-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 55vh;
}

.sprite-and-type{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.types{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0.7em;
}

.type{
  border-radius: 0.7em;
  padding: .2em .5em;
  margin: 0.1em
}


.stats-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 40%;
  padding: 0.5em 0;
}

.stats-row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats-value-and-bar{
  height: 40%;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stat-bar-bg{
  width: 0;
  transition: all .3s
}

.stat-bar{
  position: relative;
  width: 50%;
  height: 50%;
  background: #030e084d;
  border-radius: 50px
}

.stat-value{
  color: whitesmoke;
  z-index: 1;
}

.stat-bar-bg{
  position: absolute;
  top: 0;
  height: 100%;
  background-color: white;
  border-radius: 50px;
}

.evs-container, .damage-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.evs-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 95vw;
  padding-bottom: 0.3em
}

.evs-list span{
  text-align: center;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 300;
}

.ev{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.ev img{
  width: 80px
}

.evolutions-title, .damage-title{
  text-align: center;
  text-transform: uppercase;
  background: #030e084d;
  color: whitesmoke;
  /* letter-spacing: .2em; */
  width: 100%;
  padding: 0.5em;
  z-index: 1;
  font-size: .9em;
  pointer-events: none;
}

.arrow{
  fill: #030e084d
}

.arrow-div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  align-self: flex-end;
}

.empty{
  font-size: .8em;
  text-transform: uppercase;
  padding: .8em
}


.back-arrow{
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 2em;
  cursor: pointer;
  z-index: 1000;
  transition: all .1s
}

.back-arrow:hover, .back-arrow:active, .back-arrow:focus{
  top: 0;
  left: 0;
  background: #2020203d;
  /* border-radius: 100%; */
  width: 3em;
}

/* damage-container */
/* Same as evs-container */

/* Damage-title
   Same as evs-title
*/


.attack-title{
  text-align: center;
    text-transform: uppercase;
    background: #030e084d;
    color: whitesmoke;
    /* letter-spacing: .2em; */
    width: 70%;
    padding: 0.5em;
    margin-top: 1em;
    z-index: 1;
    font-size: .9em;
    pointer-events: none;
    align-self: center;
}


.offensive-container{
  width: 100%;
  margin: 1em 0;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}

.offensive, .defensive{
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 45%;
  text-align: center;
  text-transform: uppercase;
  background: #030e084d;
  border-radius: 0.7em;

}

.defensive{
  background: #030e084d;
  width: 70%
}

.offensive .type-cardy, .defensive .type-cardy{
  font-weight: 300;
  padding: 0.2em;
  margin: 0.5em;
  border-radius: 1em;
  width: 80%;
}


.damage-type-title{
  width: 100%;
  border-radius: 0.7em 0.7em 0 0;
  padding: 0.3em;
}






@keyframes spin {
  0% { transform: rotate(0deg); }
  25%{transform: rotate(90deg)}
  50%{transform: rotate(270deg)}
  100% { transform: rotate(360deg); }
}

@keyframes move {
  0%{transform: rotate(0deg)}
  25%{transform: rotate(-20deg)}
  75%{transform: rotate(20deg)}
  100%{transform: rotate(0deg)}
}